<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HttpServ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HttpServletDemo</servlet-name>
    <servlet-class>ServletHttpDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletDemo</servlet-name>
    <url-pattern>/httpServ</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>HttpGetDemo</servlet-name>
    <servlet-class>HttpGetDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpGetDemo</servlet-name>
    <url-pattern>/httpget</url-pattern>
  </servlet-mapping>
</web-app>